.logo {
    width: 20%;
    float: left;

}

.logo img {
    width: 50%;
}

.navbar {
    width: 60%;
    float: left;
}

.social-icon {
    width: 20%;
    float: left;
}

.navbar ul li {
    display: inline;
    margin-right: 50px;
}

.social-icon ul li {
    display: inline;
    margin-right: 15px;
}

.navbar ul li {
    color: #241ca2;
    font-size: 18px;
    font-weight: 600;
}

.container {
    width: 1265px;
    float: left;
    margin: auto;
  
}

.clear{
    clear: both;
}

section.banner-sec {
    background: url(/img/banner1.jpg);
    background-size: cover;
    height: 440px;
    background-position: 50% 29%;
}

h1 {
    text-align: center;
}

.content-image1 {
    width: 40%;
    float: left;
}

.content {
    width: 40%;
    float: left;
    margin-left: 60px;
}

.content-image1 img {
    width: 100%;
    height: 331px;
}

p {
    text-align: justify;
    line-height: 20px;
    color: brown;
    font-weight: 600;
}